.header {
  width: calc(100% - 80px);
  height: 69px;
  border-bottom: 1px solid #DAE4F2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .crumbs {
    width: 300px;
    margin-left: 40px;
    font-size: 13px;
    letter-spacing: 0.685714px;
    color: #252F48;

    .gt {
      color: #0AD69C;
      margin: 10px;
    }
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 25px;
    margin-right: 50px;
    font-size: 14px;

    .profile-photo {
      width: 22px;
      height: 22px;
      border-radius: 50px;
      background: url("../img/profile-img.png");
    }
    .or{
      cursor: pointer;
    }
  }
}

.link {
  text-decoration: none;
  color: #252F48;
}

.link:hover {
  text-decoration: underline;
}
