.container{
  width: 1024px;
  height: 768px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 20px rgba(153, 163, 174, 0.5);
}
