.sidebar {
  height: 100%;
  width: 80px;
  background-color: #01134E;

  .logo {
    width: 35px;
    height: 35px;
    margin: 20px 22.5px 80px 22.5px;
    background: url("../img/logo.png");
    cursor: pointer;
  }

  .bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;

    .bar-item {
      width: 76px;
      height: 48px;
      background: url("../img/icons.png") no-repeat;
      border-left: 4px solid #01134E;
    }

    .calendar {
      background-position: 25px 15px;
      position: relative;
    }

    .calendar:after {
      content: '1';
      color: #fff;
      width: 19px;
      height: 15px;
      font-size: 12px;
      text-align: center;
      border-radius: 50px;
      background-color: #2A74DB;
      position: absolute;
      left: 37px;
      top: 7px;
      padding-top: 4px;
    }

    .profile {
      background-position: 25px -55px;
    }

    .settings {
      background-position: 25px -125px;
    }

    .contacts {
      background-position: 25px -195px;
    }

    .message {
      background-position: 25px -265px;
      border-left: 4px solid #0AD69C;
    }
  }
}

