.messenger-area {
  width: calc(100% - 80px);
  height: calc(100% - 70px);
  background-color: #F7F9FC;

  .messenger {
    width: 855px;
    height: 552px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
    border-radius: 4px;
    display: flex;

    .chats-list {
      width: 300px;
      height: 100%;
      border-right: 1px solid #EDF0F4;;

      .chat-list-item {
        width: 100%;
        height: 92px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .time {
          width: 100%;
          text-align: end;
          color: #9BA0AD;
          font-size: 12px;
          margin: 5px 10px 0 0;
        }

        .user-icon {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin: 0 10px 15px 20px;
        }

        .miranda {
          background: url("../img/users/miranda.png");
        }

        .barry {
          background: url("../img/users/barry.png");
        }

        .stacey {
          background: url("../img/users/stacey.png");
        }

        .michael {
          background: url("../img/users/michael.png");
        }

        .johny {
          background: url("../img/users/johny.png");
        }

        .stacey-girl {
          background: url("../img/users/stacey-girl.png");
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-bottom: 15px;
          height: 50px;

          .user-name {
            font-family: 'Exo 2', sans-serif;
            font-size: 16px;
            letter-spacing: 0.571429px;
            color: #01134E;
            position: relative;
          }

          .online:after {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 2px;
            background-color: #0AD69C;
            position: absolute;
            top: -2px;
            left: 115px;
          }
          .muted:before{
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 3px;
            left: 125px;
            background: url("../img/muted.png") no-repeat;
          }
          .message-preview {
            font-size: 14px;
            color: #252F48;
            opacity: 0.43;
          }
        }
      }
      .active{
        box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.2);
      }

    }

    .chat-area {
      display: flex;
      flex-direction: column;
      width: 555px;
      position: relative;

      .input-wrapper {
        background-color: #fff;
        height: 49px;
        width: 100%;
      }

      .text-input {
        width: 100%;
        border: none;
        outline: none;
        text-indent: 45px;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: #252F48;
        opacity: 0.2;
      }

      .chat {
        width: 100%;
        height: 495px;
        position: relative;
        overflow: hidden scroll;

        .date {
          width: 100%;
          text-align: center;
          color: #CACED9;
          font-size: 14px;
          letter-spacing: 0.5px;
          font-weight: 500;
          margin-bottom: 105px;
          font-family: 'Exo 2', sans-serif;
        }

        .received {
          width: 350px;
          display: flex;
          align-items: flex-end;
          margin: 18px 25px;
          position: relative;

          .sender {
            width: 36px;
            height: 36px;
            background: url("../img/sender.png");
            margin-right: 10px;
          }
        }

        .received:before {
          content: '';
          width: 24px;
          height: 24px;
          background: url("../img/corner.png") no-repeat;
          position: absolute;
          bottom: -9px;
          left: 30px;
        }

        .sent {
          position: relative;
          right: -200px;
          margin: 18px 0;
        }

        .bubble {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 300px;
          background: #F7F9FC;
          padding: 12px;
          line-height: 20px;
          font-size: 14px;
          color: #222428;
          border-radius: 5px;

          .bubble-text {
            widows: 250px;
          }

          .time {
            color: #9BA0AD;
            font-size: 12px;
            letter-spacing: 0.43px;
          }
        }
      }

      .search {
        position: absolute;
        z-index: 1;
        height: 45px;
        border-bottom: 2px solid #DAE4F2;
        background: url("../img/search.png") no-repeat 15px 15px;
      }

      .text-entry-area {
        height: 60px;
        box-shadow: 0 0 20px rgba(153, 163, 174, 1);
        padding-right: 160px;
      }

      .tools {
        position: absolute;
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 10px;
        right: 20px;

        .smile {
          width: 20px;
          height: 20px;
          background: url("../img/smile.png");
          cursor: pointer;
        }

        .attachment {
          width: 20px;
          height: 20px;
          background: url("../img/clip.png");
          cursor: pointer;
        }

        .send {
          width: 36px;
          height: 36px;
          box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
          border-radius: 7px;
          border: none;
          background: url("../img/shape.png") no-repeat center;
          outline: none;
          cursor: pointer;

        }

        .send:active {
          box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.5);
        }
      }
    }
  }
}
